name: Node.js Package

on:
  pull_request:
    branches:
      - main
 
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
          registry-url: https://registry.npmjs.org/
      - run: npm install -g typescript uglifyjs
      - run: npm run pub
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}